body{
    background: #E6E6FB;;
}

table{
    border-collapse: collapse;
}

td{
    padding: 5px;
}

hr{
    margin-top: 30px;
    height: 1px;
    background-color: red;
    border: 1px solid red ;
}

input[type = button], input[type = reset]{
    background-color: darkblue;
    color: white;
    margin: auto 10px;
}